# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/aiavatar

# Auth
# Generate a secret key with: openssl rand -hex 32
SECRET_KEY=abfbf598c5c68f8a5bf44a921eed84c479087e462b10985637e5922f1f5111b5
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

# Gemini API
GEMINI_API_KEY=your_gemini_api_key_here

# Settings
LIVEPORTRAIT_ENABLED=False
WAV2LIP_ENABLED=True
DEFAULT_SYSTEM_PROMPT="You are a helpful, friendly AI assistant."
